.team__img {
    width: 5rem;
    margin: auto 0;
    grid-column: 1/2;
    grid-row: 1/2;
}

.team_name {
    display: inline-block;
}

.team-item {
    list-style: none;
}

.team-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}