.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(10px 5px 4px #e9eeee);
}

.search-flex {
    position: relative;
    width: 100%
}

.search-input {
    border: none;
    width: 80vh;
    background-color: #ffffff;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
}

.search-input:focus {
    outline: none;
}

.icon__input {
    padding-left: 20px;
}