.search_item {
    list-style: none;
    background-color: white;
    padding: 0.5rem 0;
}

.search_item > img {
    margin-left: 1rem;
    width: 2rem;
}

.search_item:hover {
    background-color: rgb(238, 238, 238);
}

.search-item__span {
    font-size: x-large;
    padding-left: 1rem;
}

.small__button {
    padding: 8px 16px !important;
}