.member__li {
    display: flex;
    width: 100%;
    padding: 5px 0;
    justify-content: space-evenly;
    list-style: none;
}

.actions__div {
    display: flex;
    gap: 1rem;
}

.actions__div button {
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: x-large;
}