.profile-wrapper {
    background-color: #ffffff;
    display: flex;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    filter: drop-shadow(10px 5px 4px #e9eeee);
    justify-content: space-between;
    padding: 0 25px;

}

.profile-wrapper {
    align-items: center;
}

.profile__span {
    font-weight: 600;
}

.profile__img {
    width: 65px;
}

.profile__select {
    width: 10rem;
    height: 2rem;
    border: none;
    font-weight: 600;
    font-size: large;
}