.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 50px;
  margin-right: 5rem;
}

.projects-card {
  text-align: center;
}

.add-task__button {
  border: none;
  padding: 12px 24px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 700;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.add-task__button-disabled {
  border: none;
  padding: 12px 24px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 700;
  color: black;
  font-size: 20px;
  opacity: 38%;
  cursor: not-allowed;
}

.add-task__button:hover {
  border: 1px solid green;
  background-color: green;
  color: white;
}

.additional-data {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 25px;
}

.additional-data h2 {
  margin: 0.5rem 0 0 0;
}
