.announcements-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    overflow-y: auto;
}

.announcements-wrapper h2 {
    display: inline-block;
}

.top-right-corner__button {
    cursor: pointer;
    float: right;
    transform: translate(-1.5rem, 1.5rem);
    background-color: white;
    border: none;
    font-size: x-large;
}