.teaminfo-wrapper {
    text-align: center;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.teaminfo-wrapper h2 {
    display: inline-block;
}

.creator__div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}