.navbar-wrapper {
    display: flex;
    flex-direction: column;
    float: left;
    padding: 3rem 0 0 3rem;
    margin-right: 3rem;
    height: 100vh;
    z-index: 100;
    width: 17rem; 
    border-right: 5px solid #fafafa;
    background-color: #ffffff;
    overflow-x: hidden;
}

.navbar-logo {
    margin: 0;
    color: black !important;
}

.font-awesome {
    min-width: 22px;
    margin-right: 25px;
}

.navbar-bottom-list {
    position: absolute;
    bottom: 10rem;
}

.active {
    color: black !important;
}

.navbar-wrapper a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-height: 800px) {
    .navbar-bottom-list {
        bottom: 20px;
    }
}
