.navbar-item {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    color: #b0b0b0;
}

.navbar-item span {
    margin-left: 2rem !important;
}

.navbar-item-list {
    margin-top: 4rem;
}

.navbar-item:not(:first-child) {
    margin-top: 25px;
}

.navbar-item:hover{
    color: black;
    cursor: pointer;
}

