.header-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-area: header;
  grid-template-columns: 3fr 1.5fr;
  gap: 18vh;
  grid-row: 1/2;
  grid-column: 1/3;
  margin-right: 5rem;
}

main {
  grid-row: 3/4;
  grid-column: 1/3;
  margin-top: 5rem;
  grid-template-rows: auto auto 1fr;
}

.app-wrapper {
  display: grid;
}

ul {
  padding: 0;
}

.error-color {
  color: #bb2124;
}

.success-color {
  color: #22bb33;
}

.float-right {
  float: right;
  padding-right: 1rem;
}

.loading-spinner-small {
  width: 10%;
}

.nostyle__button {
  background-color: white;
  border: none;
  cursor: pointer;
}