.basic_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    background-color: #fafafa;
    filter: drop-shadow(10px 5px 4px #e9eeee);
}

.basic_header h1 {
    margin: 0;
}

.register_link {
    text-decoration: none;
    margin-right: 1rem;
    font-size: xx-large;
    font-weight: 600;
}