.component__button {
    border: none;
    padding: 12px 24px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: 700;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.component__button:hover {
    border: 1px solid green;
    background-color: green;
    color: white;
}