.error-box {
    display: flex;
    background-color: red;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    gap: 10px;
    align-items: center;
}

.error__icon {
    font-size: 30px;
}