.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  gap: 50px;
}

.modal-title {

}

.modal-content {
  
}

.modal-header {
  align-self: center;
}

.modal-body {
  align-self: flex-start;
}

.modal-footer {

}