.project-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 10px;
  list-style: none;
  align-items: center;
  word-break: break-word;
}

.project-item-wrapper h4 {
  display: inline;
  justify-self: start;
  margin: 1rem;
}

.description__span {
  text-align: start;
  justify-self: left;
  border-left: 6px solid black;
  padding-left: 0.5rem;
  grid-column: 1/3;
}

.description__button {
  padding: 0;
  border: none;
  background-color: white;
  cursor: pointer;
}

.created-at__div {
  align-self: flex-end;
  text-align: start;
}

.updated-at__div {
  align-self: flex-end;
}
