.login-wrapper {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
    background-color: white;
    border-radius: 20px;
}

.login-wrapper input {
    width: 15rem;
    height: 2rem;
    border: 1px solid black !important;
    align-self: flex-end;
}

.login-wrapper h1 {
    margin-bottom: 0;
}

.login-buttons {
    display: flex;
    align-self: center;
    gap: 1rem;
}

.cancel-button:hover {
    background-color: red !important;
}

.input-wrapper-item {
    display: grid;
}

.input-wrapper {
    display: grid;
    gap: 1rem;
}